.content {
    height: fit-content;
}

.sidebar {
    background: #2c2f33;
    height: auto;
    min-height: 100vh;
}

.sidebar a {
    color: #807f7f;
    text-decoration: none;
}

.sidebar span {
    color: #807f7f;
}