{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Přihlásit se{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Uživatelské jméno</label>
        <input name="username" id="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Heslo</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <input type="submit" value="Přihlásit se" class="btn btn-primary">
</form>
{% endblock %}